
<!-- Footer -->
<br>
<footer class="flexbox-container bg-light text-center text-dark">
    
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-secondary">Google</button>
          <button type="button" class="btn btn-outline-secondary">Privacy&Term</button>
          <button type="button" class="btn btn-outline-secondary">Blog</button>
          
        </div>
        <div class="input-group">
          <div class="input-group-text" id="btnGroupAddon2">@</div>
          <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="btnGroupAddon2">
        </div>
      </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-white" href="https://www.google.com/">Google</a>
        </div>
        <!-- Copyright -->
   </footer>
<!-- Footer -->

