<!-- <p>mainbody works!</p> -->

<!-- <table class="table table-dark">
    <thead>
        <tr>
            <th colspan="2"><app-header-of-body></app-header-of-body></th>
        </tr>
       
    </thead>
    <tbody>
        
      <tr>
        <td><app-body></app-body></td>
        <td><app-login-page></app-login-page></td>
      </tr>


      <div class="row no-gutters">

            <div class="col">
                <div class="leftside no-gutters"><app-body></app-body></div>
            </div>
            <div class="col">
                <div class="rightside no-gutters"><app-login-page></app-login-page></div>
            </div>
      </div>
    </tbody>
  </table> -->
<!-- 
  <div class="table table-dark container px-4">
    <div class="row gx-5">hello</div>
    <div class="col-6">
        <div class="p-3">Custom column padding</div>
      </div>
    <div class="row gx-5">
      <div class="col">
        <div class="p-3"><app-body></app-body></div>
      </div>
      <div class="col">
        <div class="p-3"><app-login-page></app-login-page></div>
      </div>
    </div>
  </div> -->

  <div class="container">
  <section>
    <app-header-of-body></app-header-of-body>
    
    <nav>
        <app-body></app-body>
      
    </nav>
    
    <article>
        <app-login-page></app-login-page>
      
    </article>
  </section>
</div>