<div ng-app="myApp" class="container justify-content-center" style="width:500px">
<section class="container justify-content-center" >
    <ul class="nav justify-content-center">
    <h4 class="justify-content-center">One Account is all you need</h4>
    <h6 class="justify-content-center">A single username and password gets you into everything</h6>
    <img src="assets\image\Google-Workspace.png" class="img-thumbnail " alt="..." width="250" height="600">
</ul>

</section>
<br>
<section>
    <ul class="nav justify-content-center">
        
    <h4>Make   Google   Yours</h4>
    <h6>Set up your profile and preferences just the way you like.</h6>
    <img src="assets\image\laptop-tablet-pc-smartphone.jpg" class="img-thumbnail " alt="..." width="150" height="600">
</ul>
</section>

<section>
    <ul class="nav justify-content-center">
    <h4>Take it all with you</h4>
    <h6>Switch between devices and pick up whenever you left out</h6>
    <img src="assets\image\laptop-tablet-pc-smartphone.jpg" class="img-thumbnail " alt="..." width="300" height="600">
</ul>

</section>
</div>